/* ************************************************************************* */

/* Dashboard.js */
.dashboard {
    width: 100%;
    height: 100vh;
    background-color: #edeff1;
    font-family: 'Merriweather', serif;
    overflow: hidden;
}
.dashboard__content {
    width: calc(100% - 75px);
    height: calc(100vh - 75px);
    margin-left: 75px;
    padding: 30px;
}
.dashboard__container {
    background: #fdfdfd;
    box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.25);
    border-radius: 8px;
    padding: 30px;
}
.dashboard__container__title {
    font-size: 200%;
    font-weight: 700;
    padding-bottom: 15px;
}
.popup__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.popup__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.25);
    z-index: 3;
    padding: 30px;
}
.close {
    float: right;
    margin-top: 10px;
    width: 25px;
    cursor: pointer;
}
.popup__form {
    margin: 20px 0;
}
.popup__button {
    margin-left: 30%;
}

/* ************************************************************************* */

/* TopBar.js */
.topBar {
    width: 100%;
    height: 75px;
    background-color: #fff;
    position: relative;
    text-align: right;
}
.topBar__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 60px;
    margin-top: 5px;
}
.topBar__logo img {
    height: 60px;
}

/* ************************************************************************* */

/* LeftNav.js */
.leftNav {
    width: 75px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.leftNav__menu {
    width: 45%;
    margin: 24px 0;
}
.leftNav__item {
    width: 100%;
    padding: 16px 21px;
    border-radius: 8px;
    background-color: #10bab9;
    transition: 0.5s;
}
.selected1 {
    background-color: rgb(255, 255, 255);
    padding: 19px 21px;
    margin: 7px 0;
}
.leftNav__avatar {
    width: 70%;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

/* ************************************************************************* */

/* Battery.js */
.battery__subtitle {
    font-size: 175%;
    vertical-align: middle;
}
.battery__details {
    display: flex;
    margin-top: 10px;
}
.battery__subtitle__edit {
    margin-left: 10px;
    cursor: pointer;
}
.battery__details__form__label {
    width: 200px;
    font-size: 140%;
    padding: 8px 0;
}
.battery__details__form__input {
    width: 200px;
    font-size: 140%;
    padding: 3px 10px;
    border: 0;
    background-color: rgba(177, 177, 177, 0.12);
}
.battery__details__form__button {
    font-size: 140%;
    padding: 4px 10px;
    border: 0;
    background-color: #989898;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
}
.battery__details__charge {
    margin-top: -10px;
    text-align: center;
    position: relative;
    width: 30%;
    padding-left: 100px;
}
.battery__details__charge__background {
    width: 100px;
    margin-top: 40%;
    height: 75%;
    background-color: #2673ab;
    position: relative;
    width: 105%;
}
.battery__details__charge__background__inner {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 7px;
    width: 90%;
    transition: 0.5s;
}
.battery__details__charge__image {
    position: absolute;
    top: 50%;
    left: 76%;
    transform: translate(-50%, -50%);
    width: 120px;
}
.battery__chart__title {
    text-align: center;
    font-size: 140%;
    font-weight: 700;
    padding: 30px 0 10px 0;
    color: #333;
}
.battery__chart {
    display: flex;
}
.highcharts-background {
    background-color: transparent;
}
.hc1 {
    position: absolute;
    top: 60%;
    left: 47%;
    transform: translate(-50%, -50%);
}
.success__battery {
    width: 70%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.error__battery {
    width: 80%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ************************************************************************* */

/* Future/Past.js */
.dashboard__container__buttons__button {
    width: 200px;
    margin: 15px 0;
    text-align: center;
    font-size: 170%;
    font-weight: 700;
    padding: 5px 0;
    border-radius: 4px;
    cursor: pointer;
    border: 3px solid #10bab9;
}
.dashboard__container__box {
    width: 32%;
    text-align: center;
    background-color: #f1fdff;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.25);
    padding: 30px;
    margin-top: 30px;
}
.dashboard__container__box__title {
    font-size: 200%;
    font-weight: 700;
    padding-bottom: 10px;
}
.dashboard__container__box__value {
    font-size: 400%;
    font-weight: 700;
    padding-bottom: 10px;
}
.dashboard__container__box__value__unit {
    font-size: 40%;
    font-weight: 700;
    color: #333;
}

/* ************************************************************************* */

/* Tilt.js */
.tilt__automatic {
    justify-content: center;
    cursor: pointer;
}
.tilt__automatic__text {
    font-size: 155%;
    width: 300px;
    padding-left: 20px;
    text-align: left;
    margin: 30px 0;
    /* margin-bottom: 40px; */
}
.tile__checkbox {
    width: 65px;
}
.tilt__angle__title {
    font-size: 170%;
    font-weight: 700;
    margin-top: 10px;
}
.tilt__angle {
    font-size: 500%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sun {
    margin-top: 20px;
}
.sun__text {
    font-size: 200%;
    font-weight: 700;
    margin-top: -10px;
}
.sun__time {
    font-size: 250%;
    font-weight: 700;
}

.tilt__actionBtns{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-left: 25px;
    font-size: 65%;
    cursor: pointer;
}

/* ************************************************************************* */

/* Tilt.js */
.compare__graph {
    position: absolute;
    left: -20px;
    bottom: 10px;
}
.dashboard__container__box1 {
    width: 32%;
    text-align: center;
    background-color: #f1fdff;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.25);
    padding: 20px 30px 10px 30px;
    margin-top: 0px;
}
.dashboard__container__box11 {
    width: 49%;
    margin-top: 20px;
    text-align: center;
    background-color: #f1fdff;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.25);
    padding: 30px 30px 30px 30px;
    margin-top: 0px;
}
.dashboard__container__box__title1 {
    font-size: 170%;
    font-weight: 700;
    padding-bottom: 5px;
}
.dashboard__container__box__value1 {
    font-size: 400%;
    font-weight: 700;
    padding-bottom: 0px;
}
.dashboard__container__box__title11 {
    font-size: 150%;
    font-weight: 700;
    padding-bottom: 5px;
}
.dashboard__container__box__value11 {
    font-size: 350%;
    font-weight: 700;
    padding-bottom: 0px;
}

/* ************************************************************************* */

/* Grid.js */
.grid__text {
    color: #333;
    font-size: 120%;
    margin: 20px 0;
}
.dashboard__container__box2 {
    width: 48%;
    text-align: center;
    background-color: #f1fdff;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.25);
    padding: 20px 30px 10px 30px;
    margin-top: 0px;
}
.dashboard__container__box1 {
    width: 50%;
    height: 65%;
    margin-top: 20px;
}
.dashboard__container__box__value1 {
    font-size: 550%;
}

/* ************************************************************************* */

/* Diagnose.js */
.self {
    height: 170px;
    text-align: center;
    position: relative;
}
.self__overlap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.self__btn {
    border: 0;
    padding: 10px 30px;
    font-size: 150%;
    border-radius: 8px;
}
.self__checks {
    font-size: 140%;
    width: 100%;
    transition: 1s;
}
.self__result {
    font-size: 170%;
    font-weight: 700;
    width: 100%;
    transition: 1s;
}
.self__checks img {
    width: 30px;
}

.temp__inner {
    width: 50px;
    height: 60px;
    background-color: #2673ab;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}
.temp__outer {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.temp__value {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
}
.battery1__details__charge {
    /* background-color: #333; */
    transform: rotate(90deg);
    position: absolute;
    right: 170px;
    bottom: -5px;
    width: 150px;
    height: 260px;
}
.battery1__details__charge__image {
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.battery1__details__charge__background {
    background-color: rgb(255, 255, 255);
    width: 71%;
    height: 150px;
    position: absolute;
    left: 20px;
    top: 40px;
    z-index: 1;
}
.battery1__details__charge__background__inner {
    background-color: #2673ab;
    width: 71%;
    height: 195px;
    position: absolute;
    left: 20px;
    top: 40px;
}
.battery__percentage {
    font-size: 300%;
    font-weight: 700;
    margin: 30px 0 0 80px;
}


.dashboard__container__box3 {
    width: 97%;
    text-align: center;
    background-color: #f1fdff;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.25);
    padding: 20px 30px 10px 30px;
    margin-top: 0px;
}
.dashboard__container__box3 > .dashboard__container__box__title1 {
    text-align: left;
}
.dashboard__container__box3 > .grid__text {
    text-align: left;
}

.green-button {
    border: 2px solid #10bab9;
    color: #10bab9;
    font-size: 60%;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 20px;
    margin-top: -10px;
    cursor: pointer;
}